*{
    margin: 0;
    padding: 0;
    font-family: "Protest Guerrilla", sans-serif;


}

body{
    background: linear-gradient(to bottom,black,#561C24);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

nav{
    color: beige;
    border-bottom: dotted 0.5px #B3541E;
    justify-content:center;   
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
    animation-name: animation;
    animation-duration:2s;
    animation-iteration-count:1;
    opacity: 0;
    animation-fill-mode: forwards;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
    margin:0 30px;
  }
nav img{
    max-width:22vw;
    width: 120px;
}
nav a{
    color: beige;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;

}

.sidebar{
    position: fixed;
    top:0;
    right: -200%;
    background-color: rgba(0, 0, 0, 0.401);
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 250px;
    padding:60px 45px;
    margin-right: 0;
    margin-left: 0;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 999;
    gap:5vh;
    cursor: pointer;
    transition: 0.7s ease-out;

}
.menubutton{
    display: none;
}
.sidebar li:nth-child(4){
    display:none
}

.applynow a{
    color:#B3541E;
    text-shadow: 0 1px 0.5px rgba(255, 255, 255, 0.453);
}
svg{
    cursor: pointer;
}
@media (max-width:720px){
    .hideonMobile{
        display: none;
    }
    .logo{
        display: block;
        margin-left:-25px ;
    }
    #applynow{
        font-size: 19px;
        margin-left: -10px;
        max-width: 30px;
    }
    .menubutton{
        display: block;
        margin-left: auto;
        padding:0 10vw;
    }

}
@media (min-width:720px){
    .sidebar{
        display: none;
    }
}
@media (max-width:425px){
    .sidebar{
        width: 30vw
    }
    #applynow{
        font-size: 16px;
    }
}
@media(max-width:320px){
    .sidebar{
    width: 70%;
    }
}
@keyframes animation {
    from{ opacity: 0;}
    to{ opacity: 1;}

}